.contactRow {
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contactRow:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.contactRow>p {
    margin-left: 10px;
    font-weight: 600;
}

.contactRow>.MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;
}

.contactRow>.MuiAvatar-root.MuiAvatar-circle {
    width: 30px;
    height: 30px;
}
