.contact__row {
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact__row:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.contact__row>p {
    margin-left: 10px;
    font-weight: 600;
}

.contact__row>.MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;
}

.contact__row>.MuiAvatar-root.MuiAvatar-circle {
    width: 30px;
    height: 30px;
    background-color:transparent;
}
