.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: sticky;
  background-color: white;
  z-index: 200;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__logo {
  height: 40px;
}

.header__input {
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 999px;
}

.header__input>input {
  padding-top: 7px;
  padding-bottom: 9px;
  border: none;
  background-color: transparent;
  outline-width: 0;
  font-size: 0.96rem;
}

.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option>.MuiSvgIcon-root {
  color: gray;
  width: 30px;
  height: 30px;
}

.header__option:hover>.MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  margin: 0;
  cursor: pointer;
  height: 100%;
}

.header__option[aria-label]:after {
  position: absolute;
  opacity: 0;
  content: attr(aria-label);
  top: 107%;
  z-index: 20;
  transition: 0.4s ease-in-out;
  pointer-events: none;
  background: #222;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}

.header__option[aria-label]:hover:after {
  opacity: 0.8;
  transition: 0.4s ease-in-out;
}

.header__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  border-bottom: none;
}

.header__right {
  display: flex;
}

.header__info {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.header__right_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e6eb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 7px 5px;
  cursor: pointer;
  position: relative;
}

.header__right_icon:hover {
  background-color: #d3d5da;
}

.header__right_icon[aria-label]:after {
  opacity: 0;
  content: attr(aria-label);
  position: absolute;
  top: 107%;
  padding: 5px 10px;
  z-index: 120;
  background: #222;
  color: white;
  transition: 0.4s ease-in-out;
  pointer-events: none;
  border-radius: 10px;
  font-size: 14px;
}

.header__right_icon[aria-label]:hover:after {
  opacity: 0.8;
  transition: 0.4s ease-in-out;
}

.navLink {
  text-decoration: none;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0 13px;
}

.navLink>.header__option>.MuiSvgIcon-root {
  color: gray;
}

.navLink:hover>.header__option>.MuiSvgIcon-root {
  color: #2e81f4;
}

.active {
  border-bottom: 3px solid #2e81f4;
}

.active>p {
  color: #2e81f4;
}

.active>.header__option>.MuiSvgIcon-root {
  color: #2e81f4;
}

.user__NavLink {
  width: 140px;
  height: 39px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  border-radius: 50px;
}

.user__NavLink>p {
  margin-left: 7px;
}

.user__NavLink:hover {
  background-color: #dbe2ee;
}

.header__info>.active {
  background-color: #dbe2ee;
  border: none;
}

.header__info>.active:hover {
  background-color: #cad1dd;
  border: none;
}

.messenger {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 7px 4px rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.messenger[aria-label]::after {
  position: absolute;
  width: 90px;
  opacity: 0;
  content: attr(aria-label);
  top: 0%;
  right: 20px;
  z-index: 50;
  transition: 0.4s ease-in-out;
  background: #222;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
}


.messenger[aria-label]:hover::after {
  opacity: 0.8;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
