.widgets {
    position: sticky;
    z-index: 55;
    top: 55px;
    max-width: 300px;
    height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 25px;
}

.widgets::-webkit-scrollbar {
    width: 8px;
}

.widgets::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 50px;
}

.widgets:hover::-webkit-scrollbar-thumb {
    background: #bcc0c4;
}

.widgets__iframe {
    display: block;
    padding-top: 20px;
    height: 500px;
    width: 700px;
    margin: 0;
    padding: 0;
    border: 2px solid red;
}
